.registerHeader {
  height: 743px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url('https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg');
  background-size: cover;
  border-bottom: 8px solid #222222;
  overflow-x: hidden;
}

.top {
  .wrapper {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 40px;
    }

    .loginButton {
      background-color: red;
      bottom: none;
      color: white;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  @media screen and (max-width: 350px){
    .wrapper {
      padding: 20px !important;
      .logo {
        height: 30px !important;
      }
    }
  }
}

.registerForm {
  width: 99%;
  height: 90%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .registerFormHeader {
    max-width: 817px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 64px;
      text-align: center;
    }

    h2 {
      margin: 25px;
      font-weight: 400;
    }

    p {
      font-size: 20px;
    }
  }

  .input {
    max-width: 750px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 70px;
    border-radius: 50px;
  }

  input {
    flex: 9;
    height: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 20px;
  }

  h3 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
  }

  .registerButton {
    flex: 3;
    height: 100%;
    background-color: red;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
  .error {
    margin-top: 16px;
    margin-bottom: 0px;
  }

    @media screen and (max-width: 900px){
      .input {
        max-width: 600px;
        height: 60px;
      }
    }
    @media screen and (max-width: 700px){
      .registerFormHeader{
        padding: 0px 10px;
        h1{
          font-size: 50px;
        }
      }
      .input {
        max-width: 450px;
        height: 60px;
      }
    }

    @media screen and (max-width: 480px){
      .registerFormHeader{
        h1{
          font-size: 35px;
        }
      }
      .input {
        height: 50px;
        max-width: 340px;
        input {
          font-size: 16px;
        }
        button {
          font-size: 18px;
        }
      }
    }
}

.section {
  width: 100%;
  background-color: var(--main-color);
  border-bottom: 8px solid #222;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  .container {
    max-width: 1100px;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    .cardInfo {
      color: white;
      width: 49%;
      h1 {
        font-size: 50px;
        padding-bottom: 20px;
      }
      h2 {
        font-size: 25px;
        font-weight: 400;
      }
    }

    .cardImg {
      width: 48%;
      height: 400px;
      position: relative;
      z-index: 3;
      overflow: hidden;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
        border: 0;
        position: relative;
        z-index: 4;
      }
      .cardImgVideo {
        width: 387px;
        height: 217px;
        position: absolute;
        top: 82px;
        left: 68px;
        z-index: 1;
        video {
          width: 100%;
          height: 100%;
        }
      }
      .video2 {
        max-width: 62%;
        width: 100%;
        height: 100%;
        top: -16%;
        left: 19%;
      }
      .cardImgAnimation {
        max-width: 62%;
        width: 100%;
        height: 84px;
        border: 2px solid rgba(255, 255, 255, 0.25);
        background-color: var(--main-color);
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        position: absolute;
        bottom: 34px;
        z-index: 99;
        left: 16%;

        img {
          width: 57px;
          height: 80px;
          margin-right: 16px;
        }
        div {
          flex-grow: 1;
          flex-shrink: 1;
          h6 {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
          }
          span {
            color: #0071eb;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
          }
        }
        &::after {
          content: '';
          display: block;
          width: 48px;
          height: 60px;
          outline: 2px solid #000;
          outline-offset: -2px;
          background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif');
          background-size: 100%;
          flex-grow: 0;
          flex-shrink: 0;
          -webkit-box-flex: 0;
        }
      }
    }
  }

  @media screen and (max-width: 1300px){
      .container {
        max-width: 900px;
        .cardImg {
          .cardImgVideo {
            width: 315px;
            height: 211px;
            top: 49px;
            left: 57px;
        }
        .video2 {
          width: 260px;
          height: 180px;
          top: 14px;
          left: 85px;
        }
        .cardImgAnimation {
          height: 69px;
          bottom: 26%;
        }
      }
    }
  }
  @media screen and (max-width: 1100px){
      .container {
        max-width: 900px;
        .video2 {
          max-width: 72%;
          width: 100%;
          top: 6%;
          left: 22%;
        }
        img {
          max-width: 500px;
        }
        .cardImgAnimation{
          left: 24%;
          bottom: 13%;
        }
      }
    }

  @media screen and (max-width: 930px){
    .container {
      flex-direction: column;
      .cardImg {
        max-width: 520px;
        width: 100%;
        order: 1;
        height: 477px;
        .cardImgVideo {
          width: 73%;
          height: 76%;
          top: 1%;
          left: 14%;
        }
        .cardImgAnimation {
          left: 16%;
          bottom: 8%;
        }

        .video2{
          width: 67%;
          height: 39%;
          top: 8%;
          left: 18%;
        }
      }
      .cardInfo {
        font-size: 40px;
        order: -1;
        text-align: center;
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 530px){
    .container {
      flex-direction: column;
      .cardImg {
        height: fit-content;
        text-align: center;
        .cardImgVideo {
          max-width: 73.5%;
          width: 100%;
          max-height: 67.5%;
          height: 100%;
          top: 14%;
          left: 13.5%;
        }
        .cardImgAnimation {
          max-width: 63%;
          width: 100%;
          height: 55px;
          left: 14%;
          bottom: 8%;
          img{
            width: 38px;
            height: 57px;
          }
        }

        .video2{
          width: 62%;
          height: 55%;
          top: 5%;
          left: 19%;
        }
        img {
          max-width: 99%;
          width: 100%;
        }
      }
      .cardInfo {
        order: -1;
        text-align: center;
        width: 80%;
        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 430px){
    .container {
      flex-direction: column;
      .cardInfo {
        order: -1;
        text-align: center;
        width: 80%;
        h1 {
          font-size: 25px;
        }
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}

.faq {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  h1 {
    font-size: 53px;
    color: #fff;
    margin-bottom: 20px;
  }
  ul {
    max-width: 815px;
    width: 100%;
    margin: 2em auto;
    padding: 0px;
    li {
      list-style-type: none;
      margin: 0px 0px 8px;
      button {
        padding: 0.8em 2.2em 0.8em 1.2em;
        margin-bottom: 1px;
        font-weight: 400;
        position: relative;
        width: 100%;
        border: 0px;
        display: block;
        text-align: left;
        background: rgb(48, 48, 48);
        color: rgb(255, 255, 255);
        font-size: 1.625rem;
        font-weight: 400;
        svg {
          cursor: pointer;
          position: absolute;
          right: 1em;
          top: 50%;
          height: 1em;
          width: 1em;
          fill: rgb(255, 255, 255);
          font-weight: 400;
          &.svgClosed {
            transform: translateY(-50%) rotate(-45deg);
            transition: transform 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
          }
          &.svgOpen {
            transform: translateY(-50%);
            transition: transform 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
          }
        }
      }
      div {
        display: block;
        text-align: left;
        background: rgb(48, 48, 48);
        overflow: hidden;
        &.answerOpen {
          max-height: 1200px;
          transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
          display: block;
        }
        &.answerClosed {
          max-height: 0px;
          overflow: hidden;
          transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
        }
        span {
          font-size: 1.625rem;
          font-weight: 400;
          color: rgb(255, 255, 255);
          display: inline-block;
          padding: 1.2em;
        }
      }
    }
  }

  @media screen and (max-width: 930px){
    h1{
      font-size: 40px;
    }
    ul {
      max-width: 88%;
      width: 100%;
    }
  }
  @media screen and (max-width: 530px){
    h1{
      font-size: 25px;
    }
    ul{
      li{
        button{
          font-size: 18px;
          padding: 8px 15px 8px 5px;
        }

        .answerOpen{
          span{
            font-size: 18px;
          }
        }
      }
    }
  }
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0px;
  color: #757575;
  h3{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
  }
  ul{
    font-size: 13px;
    padding: 0px;
    margin-bottom: 25px;
    li{
      list-style: none;
      margin-left: 0;
      box-sizing: border-box;
      padding: 0;
      margin-bottom: 16px;
      display: inline-block;
      min-width: 100px;
      width: 25%;
      padding-right: 12px;
      vertical-align: top;
    }
  }
  @media screen and (max-width: 930px){
      max-width: 80%;
      width: 100%;
  }
}
