.productList{
    display: flex;
    justify-content: center;
    width: 100%;
}

.productList .MuiDataGrid-root .MuiDataGrid-window{
  overflow-x: hidden;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
