.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(/images/misc/spinner.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -150px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}


.smallLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  & img {
    width: 50px;
    height: 50px;
  
    background-image: url(/images/misc/spinner.png);
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
