.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productTitleContainer a {
  text-decoration: none;
}

.productBottom {
  display: flex;
}

.productInfo {
  flex: 1;
}

.productInfo {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.desc span {
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 120px;
}

.productTop {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.movieInfoItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.movieInfoItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.movieInfoItem div {
  width: 200px;
  height: 140px;
}
.movieInfoItem div img {
  object-fit: contain;
  width: 200px;
  height: 140px;
}
