.userList {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 880px;
}

.userList .usersTable {
  display: flex;
  justify-content: center;
  width: 100%;
}

.usersTable .MuiDataGrid-root .MuiDataGrid-window {
  overflow-x: hidden;
}
