.listItem {
  width: 225px;
  height: auto;
  background-color: var(--main-color);
  margin-right: 5px;
  cursor: pointer;
  color: white;
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 1px -75px 35px -64px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -75px 35px -64px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -75px 35px -64px rgba(0, 0, 0, 1) inset;
  position: relative;
  transition: all 100ms ease-in;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: relative;
    z-index: -1;
  }

  .arrowBottom {
    width: 22px;
    height: 22px;

    position: absolute;
    left: 50%;
    bottom: -10%;

    transform: translate(-50%, 0%);
  }
}
.listItemError {
  color: red;
  font-size: 20px;
  text-align: center;
  border: 1px solid red;
  margin: 10px;
  width: 300px;
}

.listItem.active {
  border: 3px solid grey;
  position: relative;
  text-align: center;
  
  &::after {
    content: '';
    display: block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid grey;
    position: absolute;
    left: 50%;
    bottom: -8%;
    transform: translate(-50%, 0%);
  }
}
